name: Build Windows App

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Build Renderer & Main
        run: npm run build

      - name: Debug print dist-electron
        run: dir dist-electron

      - name: Build Windows App
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx electron-builder --win

      - name: Upload Release
        uses: actions/upload-artifact@v4
        with:
          name: build-win
          path: release/
