name: Build Windows EXE

on:
  push:
    branches: [ "main" ] # Bisa kamu ubah ke branch lain, seperti "master"

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Build Windows App
        run: npx electron-builder --win

      - name: Upload Artifact (Windows EXE)
        uses: actions/upload-artifact@v3
        with:
          name: windows-build
          path: dist/
